import React from "react";
import { use<%= formName %> } from "./index.hooks";
import { Button, Stack } from "@mui/material";

type <%= formName %>Props = {}

export const <%= formName %> = ({}: <%= formName %>Props) => {
  const { form } = use<%= formName %>();

  return (
      <form onSubmit={(e) => {
        e.preventDefault();
        e.stopPropagation();
        form.handleSubmit().then();
      }}>
        <Stack
          spacing={3}
        >
          <Button variant="contained" type="submit">
            Salva
          </Button>
        </Stack>
      </form>
  );
};

<%= formName %>.displayName = "<%= formName %>";
