import React from "react";
import { use<%= componentName %> } from "./index.hooks";

type <%= componentName %>Props = {}

export const <%= componentName %> = ({}: <%= componentName %>Props) => {
  const {} = use<%= componentName %>();

  return (
    <div>
      <h1><%= componentName %></h1>
    </div>
  );
}

<%= componentName %>.displayName = "<%= componentName %>";
